*								{ margin: 0; padding: 0; }
body							{ font: 12px "Lucida Grande", Sans-Serif; background: #ccc; }
#page-wrap						{ width: 500px; margin: 50px auto; padding: 20px; background: white; }

h1, h2, h3						{ font: 28px Georgia, Serif; border-bottom: 1px dotted #ccc;
								  margin: 0 0 10px 0; }
.clear							{ clear: both; }
input[type="text"], textarea	{ padding: 3px; border: 1px solid #666; width: 350px;
								  margin: 0 0 15px 0; }
input[type="text"]				{ font: 28px Georgia, Serif; }
textarea						{ height: 100px; font: 12px "Lucida Grande", Sans-Serif; }
label							{ background: #666; color: white; padding: 2px 6px; }

.post							{ margin: 0 0 20px 0; }

@charset "utf-8";
/* CSS Document */

*
{
 margin:0;
 padding:0;
}
#login-form
{
 margin-top:70px;
}
table
{
 border:solid #dcdcdc 1px;
 padding:25px;
 box-shadow: 0px 0px 1px rgba(0,0,0,0.2);
}
table tr,td
{
 padding:15px;
 //border:solid #e1e1e1 1px;
}
table tr td input
{
 width:97%;
 height:45px;
 border:solid #e1e1e1 1px;
 border-radius:3px;
 padding-left:10px;
 font-family:Verdana, Geneva, sans-serif;
 font-size:16px;
 background:#f9f9f9;
 transition-duration:0.5s;
 box-shadow: inset 0px 0px 1px rgba(0,0,0,0.4);
}

table tr td button
{
 width:100%;
 height:45px;
 border:0px;
 background:rgba(12,45,78,11);
 background:-moz-linear-gradient(top, #595959 , #515151);
 border-radius:3px;
 box-shadow: 1px 1px 1px rgba(1,0,0,0.2);
 color:#f9f9f9;
 font-family:Verdana, Geneva, sans-serif;
 font-size:18px;
 font-weight:bolder;
 text-transform:uppercase;
}
table tr td button:active
{
 position:relative;
 top:1px;
}
table tr td a
{
 text-decoration:none;
 color:#00a2d1;
 font-family:Verdana, Geneva, sans-serif;
 font-size:18px;
}

/* css for home page  */

*
{
 margin:0;
 padding:0;
}
#header
{
 width:100%;
 height:60px;
 background:rgba(00,11,22,33);
 color:#9fa8b0;
 font-family:Verdana, Geneva, sans-serif;
}
#header #left
{
 float:left;
 position:relative;
}
#header #left label
{
 position:relative;
 top:5px;
 left:100px;
 font-size:35px;
}
#header #right
{
 float:right;
 position:relative;
}
#header #right #content
{
 position:relative;
 top:20px;
 right:100px;
 color:#fff;
}
#header #right #content a
{
 color:#00a2d1;
}

.navbar{
	border-radius:0px !important;
	margin-bottom:0px !important;
}

.navbar-fixed-left {
  width: 140px;
  position: fixed;
  border-radius: 0;
  height: 100%;
}

.navbar-fixed-left .navbar-nav > li {
  float: none;  /* Cancel default li float: left */
  width: 139px;
}

.navbar-fixed-left + .container {
  padding-left: 160px;
}

/* On using dropdown menu (To right shift popuped) */
.navbar-fixed-left .navbar-nav > li > .dropdown-menu {
  margin-top: -50px;
  margin-left: 140px;
}
.navbar-fixed-left{
margin-top:70px !important;
}
h3.text-center{
  color:white;
  border-bottom:0px;
  font-size:25px;
}
li.text-center{
  padding:10px;
}
.col-sm-offset-2{
  margin:0px;
}
.lead{
  margin-bottom:10px;
  margin-top:10px;
}
p.lead{
  margin-bottom:10px;
  margin-top:10px;
  color:white;
}
.navbar-header{
  margin:10px;
  margin-left:20px !important;
}
span.glyphicon{
  width:18px;
}
h5.lead{
  font-size:18px;
}

body#homepage {
background-color:#303030;
}
h1.display-5{
  border-bottom:0px !important;
  color:white;


}
.btn{
   background: linear-gradient(#313131, #1f1f1f); 
   border-color:black;
}
.btn-primary:focus,
.btn-primary:active,
.btn-primary:hover{
   background: linear-gradient(#1f1f1f, #313131); 
    border-color:black;
}